* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    background:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)),
        url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    direction: rtl;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #ffafb6;
    color: rgb(48, 47, 47);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 21px;
}

.login-btn:hover {
    background-color: #ff9da5;
}

.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 10px;
}
.g-signin2 {
    width: 250px; /* הגדרת רוחב */
    height: 50px; /* הגדרת גובה */
    margin: 0 auto; /* ממרכז את הכפתור */
}