body {
   
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 20px;
        color: #333;
        line-height: 1.6;
        
    
}

h1, h2 {
    color: #b88e9a;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

input[type="submit"],
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #b88e9a;;
    color: #201d1b; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color:  #b88e9a;;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th:last-child, td:last-child {
    border-right: none;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
}

tr:hover {
    background-color: #f9f9f9;
}

#editForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#editForm form {
    flex-direction: column;
    align-items: stretch;
}

#editForm form a {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

#logOut{
    position: absolute;
    top: 10px;
    right: 10px;
}

